In [1]:
>>> import pandas as pd
>>> from numpy.random import randint

>>> df = pd.DataFrame(columns=['lib', 'qty1', 'qty2'])
>>> for i in range(5):
>>>     df.loc[i] = ['name' + str(i)] + list(randint(10, size=2))

>>> df

     lib qty1 qty2
0  name0    5    6
1  name1    1    1
2  name2    5    8
3  name3    6    8
4  name4    8    1